*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    min-width: 1080px;
    background: #eee;
    margin:20px;
  }

  #header{
    display: flex;
    flex-grow:1;
    flex-flow:row;
    justify-content: center;
    font-size:2em;
    text-decoration-line:underline;
}
    nav {
        display: flex;
        flex-flow:row;
        justify-content: center;
        justify-content:space-between;
    }


  /* --- BUtton | NAV styling --- */

  .btn {
    margin-top:30px;
    width: 150px;
    height: 50px;
    border: 1px solid #333;
    font-family: 'Cinzel', serif;
    font-size: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    transition: 1s;
  }
  
  .btn::before, .btn::after {
    position: absolute;
    background:#eee;
    z-index: -5;
    transition: 1s;
    content: '';
  }
  
  .btn::before {
    height: 50px;
    width: 130px;
  }
  
  .btn::after {
    width: 150px;
    height: 30px;
  }
  
  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }

  a{
      text-decoration:none;
      color:black;
  }
  
  .btn:hover::before {
    width: 0px;
    background: #fff;
  }
  
  .btn:hover::after {
    height: 0px;
    background: #fff;
  }
  
  .btn:hover {
    background: #fff;
  }

  /* --- container ---*/

  #container{
      background-color: white;
      border:#333 solid 1px;
      height:100%;
      display:flex;
      margin-top:20px;
  }
  
  
  